<%- include('./partials/header'); %>
  <!-- <div class="col-12">
          <table class="table table-success table-striped mt-3" id="table">
            <thead>
              <tr>
                <th scope="col">Index</th>
                <th scope="col">Name</th>
                <th scope="col">Eye Color</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Company</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Favourite Fruits</th>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  <div id="konten"></div>

  <%- include('./partials/footer'); %>