<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="../../../index.js"></script> -->
    <!-- <script src="/index.js"></script> -->
    <script src="/axios/dist/axios.min.js"></script>
    <script>
        const konten = document.querySelector("#konten");
        let ruting = document.querySelectorAll(".ruting");
        ruting.forEach((el)=>{
        //   el.addEventListener("click", async (e)=>{
        //     e.preventDefault();
        //     let id = e.target.id;
        //     let data = document.getElementById(id);
        //     let dataTarget = data.getAttribute("data-data");
        //     const res = await fetch(`http://localhost:3000/${dataTarget}`)
  
        //     konten.innerHTML = await res.text();
        //   });
        // });
          el.addEventListener("click",  (e)=>{
            e.preventDefault();
            let id = e.target.id;
            let data = document.getElementById(id);
            let dataTarget = data.getAttribute("data-data");
            axios.get(`http://localhost:3000/${dataTarget}`)
            .then(res => res.data).then(data => {
              konten.innerHTML = data;
            })
          })
         })
      </script>
    
  </body>
</html>