<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Daily Task 2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/takut.jpg" class="w-25" alt="" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:3000/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-6">
        <h3>Silakan pilih data yang diinginkan :</h3>
      </div>
      <div class="col-6">
        <div class="float-end">
          <a type="button" id="data1" href="#data1" data-data="data1" class="btn ruting btn-primary">
            Sort Data 1
          </a>
          <a type="button" id="data2" href="#data2" data-data="data2" class="btn ruting btn-success">
            Sort Data 2
          </a>
          <a type="button" id="data3" href="#data3" data-data="data3" class="btn ruting btn-danger">
            Sort Data 3
          </a>
          <a type="button" href="#data4" data-data="data4" id="data4" class="btn ruting btn-warning">
            Sort Data 4
          </a>
          <a type="button" href="#data5" data-data="data5" id="data5" class="btn ruting btn-info">
            Sort Data 5
          </a>
        </div>
      </div>